

.container{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    background-color: darkgray;
}

.caixas {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }
  
  .caixas div {
    margin: auto;
    width: calc((100% - 50px) / 3);
    height: 100px;
    background-color: #ddd;
  }
  